.cardDetail {
    width: 100%;
    height: 100%;
    background-color: #EB6B94 ;
    padding: 6.25rem;
    display: flex;
    flex-direction: column;
}

.cardDetail img{
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
}
