@import url('https://fonts.googleapis.com/css2?family=Risque&family=Russo+One&family=Signika:wght@300&display=swap');


/* 
font-family: 'Risque', serif;
font-family: 'Russo One', sans-serif;
font-family: 'Signika', sans-serif;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainNavbar {
    position: fixed;
    grid-area: nb;
    background-color: #2E3054;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    
}

.logo {
    justify-self: center;
    width: 7.5rem;
    height: 6.25rem;
    background-color: white;
    margin-top: 1.25rem;
}
ul {
    width: 100%;
    height: 70%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5625rem;
    align-items: flex-end;
}
li {
    width: 21.25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1.875rem;
    padding-left: 3.75rem;
}
li .listItemIcon {
    font-size: 2.125rem;
    color: white;
    cursor: pointer;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
}
li:hover {
    background-color: #EB6B94;
    border-top-left-radius: 3.125rem;
    border-bottom-left-radius: 3.125rem;
    
}
.footer {
    padding-left: 1.5625rem;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .625rem;
    cursor: pointer;
}
.footer .direccionLegal {
    color: white;
    font-family: 'Signika', sans-serif;
}